<template>
  <DrumBeats />
</template>

<script>
import DrumBeats from "./components/DrumBeats.vue";

export default {
  name: "App",
  components: {
    DrumBeats,
  },
};
</script>

<style>
#app {
  font-family: "Open Sans", Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: auto;
  margin: 0 auto;
  box-sizing: border-box;
}
</style>
